body {
margin-bottom:150px;
color:black;
width:1000px;
	height:200px;
	background:  #FFFFFF;
}
.bd{
	background:   #FFFFFF;
}
.AA{
    
    text-decoration: none;
    color: #D2B48C;
    font-weight: bold;
    padding-left: 0px;
    align: left;
    margin-left:-590px;
    margin-bottom: 5px;
}
input[type=text]{
	width:75%;
	height:25px;
	margin-bottom:10px;
	padding:0 5px;
	outline:none;
	font-size:14px;
	border:1px solid #C0C0C0;
	}		
input[type=text]:hover{
	border-color:#C0C0C0;
	}	
input[type=text]:focus{
	border-color:#C0C0C0;
	box-shadow:0px 0px 5px #C0C0C0;
	}	
div.list-select{
	width:76.5%;
	height:25px;
	background:#C0C0C0;
	}	
div.list-select select{
	width:100%;
	height:25px;
	border:none;
	background:none;
	font-size:14px;
	color:#FFF;
	outline:none;
	}
select option{
	color:#C0C0C0;
	}		
input[type=submit]{
	height:25px;
	color:#FFF;
	font-size:16px;
	padding:0 20px;
	background:#C0C0C0;
	border:none;
	border-radius:4px;
	margin:10px 0;
	cursor:pointer;
	outline:none;
	}	
input[type=submit]:hover{
	background:#C0C0C0;
	}
.tete{
	background-color:  #DC143C;
}
th {
font-family:monospace;
border:1px dotted #990066;
padding:5px;
background-color:#EFF6FF;
width:25%;
}
td {
font-family:sans-serif;
font-size:80%;
border:1px solid #990066;
padding:10px;
padding-right:10px;
text-align:left;
width:10%;
}
.rectangle{
height: 250px;
width:300px;
background: #DDA0DD;
-moz-border-radius-bottomright: 50px;
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
border-top-right-radius: 20px;
border-top-left-radius: 20px;
margin-left: 200px;
margin-top: 100px;

}
.rectanglee{
height: 400px;
width:300px;

-moz-border-radius-bottomright: 50px;
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
border-top-right-radius: 20px;
border-top-left-radius: 20px;
margin-left: 500px;
margin-top: 100px;

}
.titre{
margin-left: 100px;
font-size: 18px;
margin-top: 30px;
text-align: left;
margin-left: 320px;

}
.hh{
	color:#DC143C;
	font:bold;
	font-size: 40px;
	margin-top: 80px;
	margin-left: -110px;
	font-family: bold;
	margin-bottom: 5px;
	
}
.contenuA
{
	padding-top:20px;
	padding-left:40px;
	position:center;
	
}

caption {
font-family:sans-serif;
}
#menu{padding-left: 0px;
}
#menu UL LI
{
	margin-top:0px;
	
  
    border-right: 1px solid #6495ED;
      border-left: 2px solid #6495ED;
   
    display: block;
    position: relative;
}
#menu UL LI A
{
    text-decoration: none;
    display: block;
    margin: 0px 0px;
    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    -ms-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
}
#menu > UL > LI
{
    float: left;
     padding-left: 20px;
    padding-right: 20px;
}
#menu > UL > LI:after
{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    z-index: 0;
 
    -webkit-transition: height .3s;
    -moz-transition: height .3s;
    -ms-transition: height .3s;
    -o-transition: height .3s;
    transition: height .3s;
}
#menu > UL > LI > A
{
    color: #990066 ;
    padding: 4px 10px;
    font-weight: 600;
    font-size: 18px;
    z-index: 2;
    position: relative;
    padding-left: 8px;
    padding-right: 10px;
}
#menu > UL > LI:hover:after, #menu > UL > LI.active:after
{
    height: 100%;
}
#menu > UL > LI:hover > A:after, #menu > UL > LI.active > A:after
{
    background: #780000 ;
}
#menu > UL > LI:hover > A:before, #menu > UL > LI.active > A:before
{
    border-top-color: #780000;
}
ul{
	margin-left: 400px;
	
}

	#logo{
		display:block;
	    margin-left:0px;
		
	
		padding:0;
	
		overflow:hidden;
		cursor:pointer;
	}
	#log{
		display:block;
	    margin-left:0px;
		
	
		padding:5;
	
		overflow:hidden;
		cursor:pointer;
	}
	#cssmenu ul {
  margin: 0;

  padding: 10px 200px 0;
padding-left:200px;
  background:#DC143C url(images/overlay.png) repeat-x 0 -110px;
  line-height: 200%;
  border-radius: 1em;
 padding-right :200px;
 font: normal 0.5333333333333333em Arial, Helvetica, sans-serif;
 
 -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
 
 width: 950px;
}
#cssmenu li {
  margin: 0 5px;
  padding: 0 0 8px;
  float: left;
  position: relative;

  list-style: none;
}
#cssmenu ul{
 

 padding-left: 400px;
}
#cssmenu a,
#cssmenu a:link {
  font-weight: bold;
 
 font-size: 13px;
  color: #808080;

  text-decoration: none;
 
 display: block;
  padding: 8px 20px;

  margin: 0;
  border-radius: 5px;
 
 -webkit-border-radius: 5px;
 
 -moz-border-radius: 5px;

  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);

}

#cssmenu a:hover {
  background: #000;

  color: #808080;
}

#cssmenu .active a,
#cssmenu li:hover > a {
  background:#DC143C url(images/overlay.png) repeat-x 0 -40px;
 
 background:#808080 url(images/overlay.png) repeat-x 0 -40px;
  
color: #444;
padding-left:50px;
  border-top: solid 1px  #f8f8f8;
 
 -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
 
 -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
 
 box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

  text-shadow: 0 1px 0 #ffffff;
}

#cssmenu ul ul li:hover a,
#cssmenu li:hover li a {
  background: none;
 
 border: none;
  color: #666;
 padding-right:100px;
 -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

#cssmenu ul ul a:hover {
  background: #DC143C url(images/overlay.png) repeat-x 0 -100px !important;

  color: #808080 !important;
  -webkit-border-radius: 5px;
 width:100px
 -moz-border-radius: 5px;
 
 border-radius: 5px;
 
 text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

#cssmenu li:hover > ul {
  display: block;
}

#cssmenu ul ul {
  z-index: 1000;
  display: none;

  margin: 0;

  padding: 0;
  width: 250px;
 
 position: absolute;
 
 top: 40px;
  left: 0;

  background: #ffffff url(images/overlay.png) repeat-x 0 0;
  border: solid 1px #b4b4b4;
 
 -webkit-border-radius: 5px;
 
 -moz-border-radius: 5px;
 
 border-radius: 5px;

 -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
 
 box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

#cssmenu ul ul li {
  float: none;
  margin: 0;
 
 padding: 3px;
}
#cssmenu ul ul a,
#cssmenu ul ul a:link {
  font-weight: normal;

  font-size: 12px;
}

#cssmenu ul:after {
  content: ".";
 
 display: block;
  clear: both;

  visibility: hidden;
  line-height: 0;
  height: 0;

}
* html #cssmenu ul {
  height: 1%;
}
.CSSTableGenerator {
	margin:0px;padding:0px;
	width:60%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:13px;
	-webkit-border-bottom-left-radius:13px;
	border-bottom-left-radius:13px;
	
	-moz-border-radius-bottomright:13px;
	-webkit-border-bottom-right-radius:13px;
	border-bottom-right-radius:13px;
	
	-moz-border-radius-topright:13px;
	-webkit-border-top-right-radius:13px;
	border-top-right-radius:13px;
	
	-moz-border-radius-topleft:13px;
	-webkit-border-top-left-radius:13px;
	border-top-left-radius:13px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:13px;
	-webkit-border-bottom-right-radius:13px;
	border-bottom-right-radius:13px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:13px;
	-webkit-border-top-left-radius:13px;
	border-top-left-radius:13px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:13px;
	-webkit-border-top-right-radius:13px;
	border-top-right-radius:13px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:13px;
	-webkit-border-bottom-left-radius:13px;
	border-bottom-left-radius:13px;
}.CSSTableGenerator tr:hover td{
	
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#e5e5e5; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#cccccc; }.CSSTableGenerator td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:10px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #d65c8e 5%, #ff5656 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d65c8e), color-stop(1, #ff5656) );
	background:-moz-linear-gradient( center top, #d65c8e 5%, #ff5656 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#d65c8e", endColorstr="#ff5656");	background: -o-linear-gradient(top,#d65c8e,ff5656);

	background-color:#d65c8e;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #d65c8e 5%, #ff5656 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d65c8e), color-stop(1, #ff5656) );
	background:-moz-linear-gradient( center top, #d65c8e 5%, #ff5656 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#d65c8e", endColorstr="#ff5656");	background: -o-linear-gradient(top,#d65c8e,ff5656);

	background-color:#d65c8e;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
.cad
{
	

    width:500px;
    height:300px;
    padding-top:1px;
    
 -moz-box-shadow: 4px 4px 6px #888;  
  -webkit-box-shadow: 2px 2px 6px #888;  
  box-shadow: 2px 2px 6px #888;
  padding-left: 20px;
}

   .h1 {
font-size: 40px;         /* taille de la police */
   color: #305ABC; 
         /* Couleur de la police */
   text-decoration: none;       /* Enlèvement du soulignement sur les liens */
   text-shadow: 0 -2px 0 #222222;  
}
  .h2 {
         font-size: 30px;         /* taille de la police */
         color: #305ABC; 
        
         /* Couleur de la police */
   text-decoration: none;       /* Enlèvement du soulignement sur les liens */
   text-shadow: 0 -2px 0 #222222;  
}
